
body{ 
    
    font-family: 'poppins',sans-serif;

}

header { 
background-color:blueviolet;
color:#167BF7;


}


.cabecalho-imagem{
   width:  40%

}
.cabecalho{

background-color:coral;
color:black;
display:flex;
justify-content:space-around;
}
.cabecalho-lista-item{

display:inline-block;

}